[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        too-few-public-methods,

[SIMILARITIES]
ignore-imports=yes
min-similarity-lines=10
